<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Вход | Панель предпринимателя</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="static/img/favicon.jpg" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='static/index.css'>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div title="Автор фотографии: Горячев Артем" class="wall">
        <div title class="window">
            <h1>Войти в систему</h1>
            <form class="form_log" action="#" style="width: 100%;">
                <input type="text" name="login" id="login" class="login" placeholder="Логин" autocomplete="username">
                <input type="password" name="pass" id="pass" class="pass" placeholder="Пароль" autocomplete="current-password">
                <button type="submit">Войти</button>
            </form>
            <a href="#" onclick="createAcc()">-- Создать аккаунт</a>
        </div>
    </div>
</body>
<script src='static/js/index.js'></script>

</html>