<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Главная | Панель предпринимателя</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="static/img/favicon.jpg" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='static/index.css'>
    <style>
    </style>
</head>
<div class="loader_modal">
    <div class="loader"></div>
</div>

<body>
    <header></header>
    <main>
        <h2>Главная</h2>
        <h3>Добро пожаловать!</h3>
        <p>Выберете нужный вам раздел в меню на верхней панели</p>
        <h2>Краткая инструкция по сайту</h2>
        <ol>
            <li>Заполняем все расходники</li>
            <li>Заполняем все изделия</li>
            <li>Создаем заказы</li>
            <li>Добавляем финансовую операцию</li>
            <li>А когда расходник заканчивается заказываем новый</li>
            <li>И тоже добавляем финансовую операцию</li>
        </ol>
    </main>
</body>
<script src="static/js/paster.js"></script>
<script src="static/js/main.js"></script>

</html>