<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Продукты | Панель предпринимателя</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="static/img/favicon.jpg" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='static/index.css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/ru.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>

<body>
    <div class="loader_modal">
        <div class="loader"></div>
    </div>
    <div class="modal add_prd">
        <div class="content">
            <div class="flex">
                <h2>Добавить продукт</h2>
                <div onclick="full_modal.classList.toggle('show_modal');" class="btn">Закрыть</div>
            </div>
            <form class="form_add" action="/save/product" method="POST">
                <input type="text" name="name_prd" class="name" placeholder="Название" required>
                <button type="button" class="btn tex" style="width: 100%">Технологическая карта</button>
                <input type="text" name="price" class="price" placeholder="Цена" required>
                <input type="text" name="content" id="map" style="display: none;" required>
                <button class="saver" type="submit">Сохранить</button>
                <input type="text" name="id" class="id" style="display: none;">
            </form>
        </div>
    </div>
    <div class="modal texno">
        <div class="content con tx">
            <div class="header_modal">
                <div class="flex">
                    <h2>Информация о товарах</h2>
                    <div onclick="full_modal2.classList.toggle('show_modal');" class="btn">Закрыть</div>
                </div>
                <button onclick="add_table()" class="btn">Добавить расходник</button>
            </div>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Единица измерения</th>
                        <th class="price_tb">Кол-во</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="button" onclick="save_map()">Сохранить</button>
        </div>
    </div>

    <header></header>
    <main>
        <h2>Продукты</h2>
        <p>Отслеживайте свойства своих продуктов в реальном времени!</p>
        <button class="add btn">Добавить продукты</button>
        <div class="area">
        </div>
    </main>
</body>
<script src="static/js/paster.js"></script>
<script src="static/js/products.js"></script>
</html>